In [2]:
import json
import pandas as pd
filename = "sample.json"
df = pd.read_json(filename)
df_1 = pd.DataFrame.from_dict(df.iloc[1, 0])
# df_2 = pd.DataFrame.from_dict(df_1.iloc[0, 1])
# df1 = pd.json_normalize(df.iloc[1,0]) this gives dataframe in format: confused
# here, the items is nested list with tuples of two elements, for that two elements we need the two columns.
df1 = pd.DataFrame(df_1.iloc[0, 1].items(), columns = ['key', 'value'] )
df1

         key                                              value
0         ID                                               SGML
1     SortAs                                               SGML
2  GlossTerm               Standard Generalized Markup Language
3    Acronym                                               SGML
4     Abbrev                                      ISO 8879:1986
5   GlossDef  {'para': 'A meta-markup language, used to crea...
6   GlossSee                                             markup

In [3]:
df1 = pd.DataFrame(df_1.iloc[0, 1].items(), columns = ['key', 'value'] ).explode("value")
df1

         key                                 value
0         ID                                  SGML
1     SortAs                                  SGML
2  GlossTerm  Standard Generalized Markup Language
3    Acronym                                  SGML
4     Abbrev                         ISO 8879:1986
5   GlossDef                                  para
5   GlossDef                          GlossSeeAlso
6   GlossSee                                markup

In [9]:
df

                                                   glossary
title                                      example glossary
GlossDiv  {'title': 'S', 'GlossList': {'GlossEntry': {'I...

In [5]:
df2 = df.explode("glossary")
df2

                  glossary
title     example glossary
GlossDiv             title
GlossDiv         GlossList

In [11]:
# df3 = df2.reindex(index = [0, 1, 2], columns = ["glossary"])
df3 = df2.rename(index = {'GlossDiv':'-'})
df3

               glossary
title  example glossary
-                 title
-             GlossList

In [12]:
df4 = df2[["key","glossary"]]
df4.reset_index(inplace = True)
df5 = df4.T.drop_duplicates().T
df5.reset_index(inplace = False)
df6 = df5.T.drop_duplicates().T
df6 = df6.drop('index', axis = 1)
df6

KeyError: "['key'] not in index"

In [6]:
# df2 = df2.drop('index', axis = 1)
# df2 = df2.drop('key', axis = 1)
# df2 = df2.drop('level_0', axis = 1)
df2["key"] = [ "title", "GlossDiv", "GlossDiv"]
df2

                  glossary       key
title     example glossary     title
GlossDiv             title  GlossDiv
GlossDiv         GlossList  GlossDiv

In [7]:
df2["key"]= ["title", "GlossDiv", "GlossDiv"]
df7 = df2.rename(columns = {'key':'value'})
df7["key"] = ["glossary", "-", "-"]
df8 = df7.rename(columns = {'value':'value1'})
df9 = df7.rename(columns = {'glossary': 'value2'})
df10 = df9[["key", "value2", "value"]]
df11 = df10.rename(columns = {"value2":"value1", "value":"value2"})
df11

               key            value1    value2
title     glossary  example glossary     title
GlossDiv         -             title  GlossDiv
GlossDiv         -         GlossList  GlossDiv

In [8]:
df12 = df11[["key", "value2", "value1"]]
# df11 = df11.rename(columns = {"value2":"value1", "value1":"value2"})
df13 = df12.rename(columns = {"value2":"value1", "value1":"value2"})
df13

               key    value1            value2
title     glossary     title  example glossary
GlossDiv         -  GlossDiv             title
GlossDiv         -  GlossDiv         GlossList

In [9]:
df13

               key    value1            value2
title     glossary     title  example glossary
GlossDiv         -  GlossDiv             title
GlossDiv         -  GlossDiv         GlossList

In [10]:
df13["value3"] = ["-", "S", "GlossEntry"]
df13

               key    value1            value2      value3
title     glossary     title  example glossary           -
GlossDiv         -  GlossDiv             title           S
GlossDiv         -  GlossDiv         GlossList  GlossEntry

In [11]:
df1

         key                                 value
0         ID                                  SGML
1     SortAs                                  SGML
2  GlossTerm  Standard Generalized Markup Language
3    Acronym                                  SGML
4     Abbrev                         ISO 8879:1986
5   GlossDef                                  para
5   GlossDef                          GlossSeeAlso
6   GlossSee                                markup

In [12]:
value4 = df1["key"].to_list()
value4.insert(0,"-")
value4.insert(1,"-")
value4.insert(9, "GlossDef")
value4

['-',
 '-',
 'ID',
 'SortAs',
 'GlossTerm',
 'Acronym',
 'Abbrev',
 'GlossDef',
 'GlossDef',
 'GlossDef',
 'GlossSee']

In [13]:
value5 = df1["value"].to_list()
value5.insert(0,"-")
value5.insert(1,"-")
value5.insert(9,"GlossSeeAlso")
value5

['-',
 '-',
 'SGML',
 'SGML',
 'Standard Generalized Markup Language',
 'SGML',
 'ISO 8879:1986',
 'para',
 'GlossSeeAlso',
 'GlossSeeAlso',
 'markup']

In [257]:
len(value4) == len(value5)

True

In [258]:
len(value4)

11

In [14]:
import pandas as pd
import numpy as np
array = np.full((8, 4), "-")
list1 = array.tolist()
list1
df14 = pd.DataFrame(list1, columns = ['key', 'value1','value2','value3'])
df14
df15 = pd.concat([df13, df14], axis=0, ignore_index=True)
df15["value4"] = value4
df15["value5"] = value5
df15["value6"] = ["-", "-", "-", "-", "-", "-", "-", "A meta-markup language, used to create markup languages such as DocBook.", "GML", "XML", "-"]
json_df = df15
json_df

,key,value1,value2,value3,value4,value5,value6
0,glossary,title,example glossary,-,-,-,-
1,-,GlossDiv,title,S,-,-,-
2,-,GlossDiv,GlossList,GlossEntry,ID,SGML,-
3,-,-,-,-,SortAs,SGML,-
4,-,-,-,-,GlossTerm,Standard Generalized Markup Language,-
5,-,-,-,-,Acronym,SGML,-
6,-,-,-,-,Abbrev,ISO 8879:1986,-
7,-,-,-,-,GlossDef,para,"A meta-markup language, used to create markup ..."
8,-,-,-,-,GlossDef,GlossSeeAlso,GML
9,-,-,-,-,GlossDef,GlossSeeAlso,XML
10,-,-,-,-,GlossSee,markup,-

In [271]:
json_df

,key,value1,value2,value3,value4,value5,value6
0,glossary,title,example glossary,-,-,-,-
1,-,GlossDiv,title,S,-,-,-
2,-,GlossDiv,GlossList,GlossEntry,ID,SGML,-
3,-,-,-,-,SortAs,SGML,-
4,-,-,-,-,GlossTerm,Standard Generalized Markup Language,-
5,-,-,-,-,Acronym,SGML,-
6,-,-,-,-,Abbrev,ISO 8879:1986,-
7,-,-,-,-,GlossDef,para,"A meta-markup language, used to create markup ..."
8,-,-,-,-,GlossDef,GlossSeeAlso,GML
9,-,-,-,-,GlossDef,GlossSeeAlso,XML
10,-,-,-,-,GlossSee,markup,-

In [28]:
def style_specific_cells(x):
    color = 'background-color: lightyellow'
    df1 = pd.DataFrame('', index=x.index, columns=x.columns)
    # df1.iloc[2, 8] = color
    list2 = ["glossary", "title", "GlossDiv", "GlossList", "GlossEntry", "ID", \
             "SortAs", "GlossTerm", "Acronym", "Abbrev", "GlossDef", "GlossSee", "para", "GlossSeeAlso"]
    for col in x.columns:
        for idx in x.index:
            if x.at[idx, col] in list2:
                df1.at[idx, col] = color
    return df1

styled_df = json_df.style.apply(style_specific_cells, axis=None)
styled_df

In [31]:
styled_df.to_excel("parsedjson.xlsx", index = False)

In [30]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [200]:
df1

         key                                 value
0         ID                                  SGML
1     SortAs                                  SGML
2  GlossTerm  Standard Generalized Markup Language
3    Acronym                                  SGML
4     Abbrev                         ISO 8879:1986
5   GlossDef                                  para
5   GlossDef                          GlossSeeAlso
6   GlossSee                                markup

In [28]:
pip install jinja2

Collecting jinja2Note: you may need to restart the kernel to use updated packages.

  Downloading jinja2-3.1.4-py3-none-any.whl.metadata (2.6 kB)
Collecting MarkupSafe>=2.0 (from jinja2)
  Using cached MarkupSafe-2.1.5-cp312-cp312-win_amd64.whl.metadata (3.1 kB)
Downloading jinja2-3.1.4-py3-none-any.whl (133 kB)
Using cached MarkupSafe-2.1.5-cp312-cp312-win_amd64.whl (17 kB)
Installing collected packages: MarkupSafe, jinja2
Successfully installed MarkupSafe-2.1.5 jinja2-3.1.4

In [81]:
df_1

           title                                          GlossList
GlossEntry     S  {'ID': 'SGML', 'SortAs': 'SGML', 'GlossTerm': ...

In [118]:
df_1.iloc[0, 1].keys()

dict_keys(['ID', 'SortAs', 'GlossTerm', 'Acronym', 'Abbrev', 'GlossDef', 'GlossSee'])

In [110]:
df_1.iloc[0, 1].items()

dict_items([('ID', 'SGML'), ('SortAs', 'SGML'), ('GlossTerm', 'Standard Generalized Markup Language'), ('Acronym', 'SGML'), ('Abbrev', 'ISO 8879:1986'), ('GlossDef', {'para': 'A meta-markup language, used to create markup languages such as DocBook.', 'GlossSeeAlso': ['GML', 'XML']}), ('GlossSee', 'markup')])

In [129]:
df_1.iloc[0, 1].values()

dict_values(['SGML', 'SGML', 'Standard Generalized Markup Language', 'SGML', 'ISO 8879:1986', {'para': 'A meta-markup language, used to create markup languages such as DocBook.', 'GlossSeeAlso': ['GML', 'XML']}, 'markup'])

In [86]:
df_1.iloc[0, 1]

{'ID': 'SGML',
 'SortAs': 'SGML',
 'GlossTerm': 'Standard Generalized Markup Language',
 'Acronym': 'SGML',
 'Abbrev': 'ISO 8879:1986',
 'GlossDef': {'para': 'A meta-markup language, used to create markup languages such as DocBook.',
  'GlossSeeAlso': ['GML', 'XML']},
 'GlossSee': 'markup'}

In [155]:
n_df = pd.DataFrame(df_1.iloc[0, 1])
newdf = n_df.explode('GlossDef', 'GlossSeeAlso')
newdf

,ID,SortAs,GlossTerm,Acronym,Abbrev,GlossDef,GlossSee
0,SGML,SGML,Standard Generalized Markup Language,SGML,ISO 8879:1986,"A meta-markup language, used to create markup ...",markup
1,SGML,SGML,Standard Generalized Markup Language,SGML,ISO 8879:1986,GML,markup
2,SGML,SGML,Standard Generalized Markup Language,SGML,ISO 8879:1986,XML,markup

In [44]:
df

                                                   glossary
title                                      example glossary
GlossDiv  {'title': 'S', 'GlossList': {'GlossEntry': {'I...

In [61]:
type(df.iloc[1, 0])

dict

BASIC OF JSON PARSING

In [54]:
# to translate a string containing JSON data(aka JSON string) into a python value; here: _io.TextIOWrapper(aka file object) to dict.
f = open(filename)
data = json.load(f)
print(data)

{'glossary': {'title': 'example glossary', 'GlossDiv': {'title': 'S', 'GlossList': {'GlossEntry': {'ID': 'SGML', 'SortAs': 'SGML', 'GlossTerm': 'Standard Generalized Markup Language', 'Acronym': 'SGML', 'Abbrev': 'ISO 8879:1986', 'GlossDef': {'para': 'A meta-markup language, used to create markup languages such as DocBook.', 'GlossSeeAlso': ['GML', 'XML']}, 'GlossSee': 'markup'}}}}}

In [132]:
type(f)

_io.TextIOWrapper

In [134]:
type(data)

dict

In [3]:
# translate a Python value into a string of JSON-formatted data
import json
dictionary = {"name": "JAMES RAY", "age":"28", "location":"SWD", "education":"IT", "type":"BLUE"}
str1 = json.dumps(dictionary)
print(str1)
# type(json_str) : str

{"name": "JAMES RAY", "age": "28", "location": "SWD", "education": "IT", "type": "BLUE"}

In [147]:
# to translate a JSON-string into python value
# putting three quotes signifies a string to json.loads()
json_str_str = '''   {
    "menu": {
        "id": "file",
        "value": "File",
        "popup": {
            "menuitem": [
                {
                    "value": "New",
                    "onclick": "CreateDoc()"
                },
                {
                    "value": "Open",
                    "onclick": "OpenDoc()"
                },
                {
                    "value": "Save",
                    "onclick": "SaveDoc()"
                }
            ]
        }
    }
} '''
data_data = json.loads(json_str_str)
print(data_data)

{'menu': {'id': 'file', 'value': 'File', 'popup': {'menuitem': [{'value': 'New', 'onclick': 'CreateDoc()'}, {'value': 'Open', 'onclick': 'OpenDoc()'}, {'value': 'Save', 'onclick': 'SaveDoc()'}]}}}

In [151]:
# str = '''{"('Hello',)": 6, "('Hi',)": 5}'''
str = '''{"Hello": 6, "Hi": 5}'''
d = json.loads(str)
print(d)
type(d)

{'Hello': 6, 'Hi': 5}

dict

In [ ]:
for name in list2:
        for n in list3:
            for val in x[n]:
                if ( name == val):
                    val = color