In [130]:
import json
import pandas as pd
filename = "sample.json"
df = pd.read_json(filename)
df_1 = pd.DataFrame.from_dict(df.iloc[1, 0])
# df_2 = pd.DataFrame.from_dict(df_1.iloc[0, 1])
# df1 = pd.json_normalize(df.iloc[1,0]) this gives dataframe in format: confused
# here, the items is nested list with tuples of two elements, for that two elements we need the two columns.
df1 = pd.DataFrame(df_1.iloc[0, 1].items(), columns = ['key', 'value'] )
df1

         key                                              value
0         ID                                               SGML
1     SortAs                                               SGML
2  GlossTerm               Standard Generalized Markup Language
3    Acronym                                               SGML
4     Abbrev                                      ISO 8879:1986
5   GlossDef  {'para': 'A meta-markup language, used to crea...
6   GlossSee                                             markup

In [163]:
df1 = pd.DataFrame(df_1.iloc[0, 1].items(), columns = ['key', 'value'] ).explode("value")
df1

         key                                 value
0         ID                                  SGML
1     SortAs                                  SGML
2  GlossTerm  Standard Generalized Markup Language
3    Acronym                                  SGML
4     Abbrev                         ISO 8879:1986
5   GlossDef                                  para
5   GlossDef                          GlossSeeAlso
6   GlossSee                                markup

In [131]:
df

                                                   glossary
title                                      example glossary
GlossDiv  {'title': 'S', 'GlossList': {'GlossEntry': {'I...

In [164]:
df2 = df.explode("glossary")
df2

                  glossary
title     example glossary
GlossDiv             title
GlossDiv         GlossList

In [214]:
# df3 = df2.reindex(index = [0, 1, 2], columns = ["glossary"])
df3 = df2.rename(index = {'GlossDiv':'-'})
df3

           glossary       key
0  example glossary     title
1             title  GlossDiv
2         GlossList  GlossDiv

In [185]:
df4 = df2[["key","glossary"]]
df4.reset_index(inplace = True)
df5 = df4.T.drop_duplicates().T
df5.reset_index(inplace = False)
df6 = df5.T.drop_duplicates().T
df6 = df6.drop('index', axis = 1)
df6

        key          glossary
0     title  example glossary
1  GlossDiv             title
2  GlossDiv         GlossList

In [199]:
# df2 = df2.drop('index', axis = 1)
# df2 = df2.drop('key', axis = 1)
# df2 = df2.drop('level_0', axis = 1)
df2["key"] = [ "title", "GlossDiv", "GlossDiv"]
df2

           glossary       key
0  example glossary     title
1             title  GlossDiv
2         GlossList  GlossDiv

In [222]:
df2["key"]= ["title", "GlossDiv", "GlossDiv"]
df7 = df2.rename(columns = {'key':'value'})
df7["key"] = ["glossary", "-", "-"]
df8 = df7.rename(columns = {'value':'value1'})
df9 = df7.rename(columns = {'glossary': 'value2'})
df10 = df9[["key", "value2", "value"]]
df11 = df10.rename(columns = {"value2":"value1", "value":"value2"})
df11

        key            value1    value2
0  glossary  example glossary     title
1         -             title  GlossDiv
2         -         GlossList  GlossDiv

In [230]:
df12 = df11[["key", "value2", "value1"]]
# df11 = df11.rename(columns = {"value2":"value1", "value1":"value2"})
df13 = df12.rename(columns = {"value2":"value1", "value1":"value2"})
df13

        key    value1            value2
0  glossary     title  example glossary
1         -  GlossDiv             title
2         -  GlossDiv         GlossList

In [231]:
df13

        key    value1            value2
0  glossary     title  example glossary
1         -  GlossDiv             title
2         -  GlossDiv         GlossList

In [232]:
df13["value3"] = ["-", "S", "GlossEntry"]
df13

        key    value1            value2      value3
0  glossary     title  example glossary           -
1         -  GlossDiv             title           S
2         -  GlossDiv         GlossList  GlossEntry

In [234]:
df1

         key                                 value
0         ID                                  SGML
1     SortAs                                  SGML
2  GlossTerm  Standard Generalized Markup Language
3    Acronym                                  SGML
4     Abbrev                         ISO 8879:1986
5   GlossDef                                  para
5   GlossDef                          GlossSeeAlso
6   GlossSee                                markup

In [252]:
value4 = df1["key"].to_list()
value4.insert(0,"-")
value4.insert(1,"-")
value4.insert(9, "GlossDef")
value4

['-',
 '-',
 'ID',
 'SortAs',
 'GlossTerm',
 'Acronym',
 'Abbrev',
 'GlossDef',
 'GlossDef',
 'GlossDef',
 'GlossSee']

In [254]:
value5 = df1["value"].to_list()
value5.insert(0,"-")
value5.insert(1,"-")
value5.insert(9,"GlossSeeAlso")
value5

['-',
 '-',
 'SGML',
 'SGML',
 'Standard Generalized Markup Language',
 'SGML',
 'ISO 8879:1986',
 'para',
 'GlossSeeAlso',
 'GlossSeeAlso',
 'markup']

In [257]:
len(value4) == len(value5)

True

In [258]:
len(value4)

11

In [272]:
import numpy as np
array = np.full((8, 4), "-")
list1 = array.tolist()
list1
df14 = pd.DataFrame(list1, columns = ['key', 'value1','value2','value3'])
df14
df15 = pd.concat([df13, df14], axis=0, ignore_index=True)
df15["value4"] = value4
df15["value5"] = value5
df15["value6"] = ["-", "-", "-", "-", "-", "-", "-", "A meta-markup language, used to create markup languages such as DocBook.", "GML", "XML", "-"]
json_df = df15

In [271]:
json_df

,key,value1,value2,value3,value4,value5,value6
0,glossary,title,example glossary,-,-,-,-
1,-,GlossDiv,title,S,-,-,-
2,-,GlossDiv,GlossList,GlossEntry,ID,SGML,-
3,-,-,-,-,SortAs,SGML,-
4,-,-,-,-,GlossTerm,Standard Generalized Markup Language,-
5,-,-,-,-,Acronym,SGML,-
6,-,-,-,-,Abbrev,ISO 8879:1986,-
7,-,-,-,-,GlossDef,para,"A meta-markup language, used to create markup ..."
8,-,-,-,-,GlossDef,GlossSeeAlso,GML
9,-,-,-,-,GlossDef,GlossSeeAlso,XML
10,-,-,-,-,GlossSee,markup,-

In [200]:
df1

         key                                 value
0         ID                                  SGML
1     SortAs                                  SGML
2  GlossTerm  Standard Generalized Markup Language
3    Acronym                                  SGML
4     Abbrev                         ISO 8879:1986
5   GlossDef                                  para
5   GlossDef                          GlossSeeAlso
6   GlossSee                                markup

In [81]:
df_1

           title                                          GlossList
GlossEntry     S  {'ID': 'SGML', 'SortAs': 'SGML', 'GlossTerm': ...

In [118]:
df_1.iloc[0, 1].keys()

dict_keys(['ID', 'SortAs', 'GlossTerm', 'Acronym', 'Abbrev', 'GlossDef', 'GlossSee'])

In [110]:
df_1.iloc[0, 1].items()

dict_items([('ID', 'SGML'), ('SortAs', 'SGML'), ('GlossTerm', 'Standard Generalized Markup Language'), ('Acronym', 'SGML'), ('Abbrev', 'ISO 8879:1986'), ('GlossDef', {'para': 'A meta-markup language, used to create markup languages such as DocBook.', 'GlossSeeAlso': ['GML', 'XML']}), ('GlossSee', 'markup')])

In [129]:
df_1.iloc[0, 1].values()

dict_values(['SGML', 'SGML', 'Standard Generalized Markup Language', 'SGML', 'ISO 8879:1986', {'para': 'A meta-markup language, used to create markup languages such as DocBook.', 'GlossSeeAlso': ['GML', 'XML']}, 'markup'])

In [86]:
df_1.iloc[0, 1]

{'ID': 'SGML',
 'SortAs': 'SGML',
 'GlossTerm': 'Standard Generalized Markup Language',
 'Acronym': 'SGML',
 'Abbrev': 'ISO 8879:1986',
 'GlossDef': {'para': 'A meta-markup language, used to create markup languages such as DocBook.',
  'GlossSeeAlso': ['GML', 'XML']},
 'GlossSee': 'markup'}

In [155]:
n_df = pd.DataFrame(df_1.iloc[0, 1])
newdf = n_df.explode('GlossDef', 'GlossSeeAlso')
newdf

,ID,SortAs,GlossTerm,Acronym,Abbrev,GlossDef,GlossSee
0,SGML,SGML,Standard Generalized Markup Language,SGML,ISO 8879:1986,"A meta-markup language, used to create markup ...",markup
1,SGML,SGML,Standard Generalized Markup Language,SGML,ISO 8879:1986,GML,markup
2,SGML,SGML,Standard Generalized Markup Language,SGML,ISO 8879:1986,XML,markup

In [44]:
df

                                                   glossary
title                                      example glossary
GlossDiv  {'title': 'S', 'GlossList': {'GlossEntry': {'I...

In [61]:
type(df.iloc[1, 0])

dict

In [54]:
# to translate a string containing JSON data(aka JSON string) into a python value; here: _io.TextIOWrapper(aka file object) to dict.
f = open(filename)
data = json.load(f)
print(data)

{'glossary': {'title': 'example glossary', 'GlossDiv': {'title': 'S', 'GlossList': {'GlossEntry': {'ID': 'SGML', 'SortAs': 'SGML', 'GlossTerm': 'Standard Generalized Markup Language', 'Acronym': 'SGML', 'Abbrev': 'ISO 8879:1986', 'GlossDef': {'para': 'A meta-markup language, used to create markup languages such as DocBook.', 'GlossSeeAlso': ['GML', 'XML']}, 'GlossSee': 'markup'}}}}}

In [132]:
type(f)

_io.TextIOWrapper

In [134]:
type(data)

dict

In [136]:
# translate a Python value into a string of JSON-formatted data
dictionary = {"name": "nirmala", "age":"30", "location":"blr", "education":"msc", "type":"stubborn"}
json_str = json.dumps(dictionary)
print(json_str)
# type(json_str) : str

{"name": "nirmala", "age": "30", "location": "blr", "education": "msc", "type": "stubborn"}

str

In [147]:
# to translate a JSON-string into python value
# putting three quotes signifies a string to json.loads()
json_str_str = '''   {
    "menu": {
        "id": "file",
        "value": "File",
        "popup": {
            "menuitem": [
                {
                    "value": "New",
                    "onclick": "CreateDoc()"
                },
                {
                    "value": "Open",
                    "onclick": "OpenDoc()"
                },
                {
                    "value": "Save",
                    "onclick": "SaveDoc()"
                }
            ]
        }
    }
} '''
data_data = json.loads(json_str_str)
print(data_data)

{'menu': {'id': 'file', 'value': 'File', 'popup': {'menuitem': [{'value': 'New', 'onclick': 'CreateDoc()'}, {'value': 'Open', 'onclick': 'OpenDoc()'}, {'value': 'Save', 'onclick': 'SaveDoc()'}]}}}

In [151]:
# str = '''{"('Hello',)": 6, "('Hi',)": 5}'''
str = '''{"Hello": 6, "Hi": 5}'''
d = json.loads(str)
print(d)
type(d)

{'Hello': 6, 'Hi': 5}

dict