In [2]:
import pandas as pd

In [9]:
sales = pd.read_excel("./Course_Materials_Part2/Video_Lecture_NBs/sales.xls", index_col = 0)

In [10]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Mike to Tom
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   City     5 non-null      object
 1   Country  5 non-null      object
 2   Sales    5 non-null      int64
 3   Bonus    5 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 200.0+ bytes

In [13]:
pd.read_excel("./Course_Materials_Part2/Video_Lecture_NBs/sales.xls", index_col = 0, header = 0)

            City Country  Sales  Bonus
Mike    New York     USA     25   2.50
Jim       Boston     USA     43   4.30
Steven    London      UK     76   7.60
Joe       Madrid   Spain     12   1.80
Tom        Paris  France     89  13.35

In [17]:
pd.read_excel("./Course_Materials_Part2/Video_Lecture_NBs/sales.xls", index_col = 0, header = 0, names = ["Names", "Loc_City", "Loc_Country", "Revenu", "Add_Comp"])

        Loc_City Loc_Country  Revenu  Add_Comp
Names
Mike    New York         USA      25      2.50
Jim       Boston         USA      43      4.30
Steven    London          UK      76      7.60
Joe       Madrid       Spain      12      1.80
Tom        Paris      France      89     13.35

In [18]:
pd.read_excel("./Course_Materials_Part2/Video_Lecture_NBs/sales.xls", index_col = 0, header = 0, usecols = "A:C")

            City Country
Mike    New York     USA
Jim       Boston     USA
Steven    London      UK
Joe       Madrid   Spain
Tom        Paris  France

In [19]:
pd.read_excel("./Course_Materials_Part2/Video_Lecture_NBs/sales.xls", index_col = 0, header = 0, usecols = "C:E")

         Sales  Bonus
Country
USA         25   2.50
USA         43   4.30
UK          76   7.60
Spain       12   1.80
France      89  13.35

In [20]:
pd.read_excel("./Course_Materials_Part2/Video_Lecture_NBs/sales.xls", index_col = 0, header = 0, usecols = "A,C:E")

       Country  Sales  Bonus
Mike       USA     25   2.50
Jim        USA     43   4.30
Steven      UK     76   7.60
Joe      Spain     12   1.80
Tom     France     89  13.35

In [21]:
pd.read_excel("./Course_Materials_Part2/Video_Lecture_NBs/sales.xls", index_col = 0, header = 0, usecols = ":C")

            City Country
Mike    New York     USA
Jim       Boston     USA
Steven    London      UK
Joe       Madrid   Spain
Tom        Paris  France

In [22]:
pd.read_excel("./Course_Materials_Part2/Video_Lecture_NBs/sales.xls", index_col = 0, header = 0, usecols = "C:")

IndexError: pop from empty list (sheet: 0)

In [26]:
pd.read_excel("./Course_Materials_Part2/Video_Lecture_NBs/sales.xls", index_col = 0, header = 0, usecols = [0,3,4])

        Sales  Bonus
Mike       25   2.50
Jim        43   4.30
Steven     76   7.60
Joe        12   1.80
Tom        89  13.35

In [27]:
pd.read_excel("./Course_Materials_Part2/Video_Lecture_NBs/sales.xls", index_col = 0, header = 0, usecols = 2)

ValueError: Passing an integer for `usecols` is no longer supported.  Please pass in a list of int from 0 to `usecols` inclusive instead.

In [30]:
pd.read_excel("./Course_Materials_Part2/Video_Lecture_NBs/sales.xls", index_col = 0, header = 0, usecols = ["City", "Sales"])

          Sales
City
New York     25
Boston       43
London       76
Madrid       12
Paris        89