# **Analyzing non-numerical Series**

In [2]:
import pandas as pd

In [3]:
summer = pd.read_csv("./Course_Materials_Part1/Video_Lecture_NBs/summer.csv")

In [4]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [6]:
athlete = summer["Athlete"]

In [8]:
athlete.info()

<class 'pandas.core.series.Series'>
RangeIndex: 31165 entries, 0 to 31164
Series name: Athlete
Non-Null Count  Dtype
--------------  -----
31165 non-null  object
dtypes: object(1)
memory usage: 243.6+ KB

In [9]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [10]:
athlete.tail()

31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, dtype: object

In [11]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [12]:
athlete.count()

31165

In [13]:
athlete.dtype

dtype('O')

In [14]:
athlete.min()

'AABYE, Edgar'

In [76]:
uniquePlyers = athlete.unique()
uniquePlayerss = pd.DataFrame(uniquePlyers)
len(uniquePlayerss)

22762

In [22]:
len(athlete.unique())

22762

In [96]:
names = athlete.value_counts().index[0]
#medal_count = pd.DataFrame(names)
#medal_count.head()
#print(medal_count.index[0])
names

'PHELPS, Michael'

In [27]:
athlete.nunique()

22762

In [28]:
athlete.nunique(dropna = True)

22762

In [29]:
athlete.value_counts(sort = True, ascending = True)

Athlete
UDVARDI, Istvan        1
LIM, Jin-Suk           1
LEE, Sang-Hyo          1
KOH, Suk-Chang         1
KIM, Jae-Hwan          1
                      ..
ONO, Takashi          13
SHAKHLIN, Boris       13
ANDRIANOV, Nikolay    15
LATYNINA, Larisa      18
PHELPS, Michael       22
Name: count, Length: 22762, dtype: int64

In [30]:
athlete.value_counts(sort = True, ascending = False)

Athlete
PHELPS, Michael          22
LATYNINA, Larisa         18
ANDRIANOV, Nikolay       15
ONO, Takashi             13
MANGIAROTTI, Edoardo     13
                         ..
ZAKA, Uddin               1
ZAFAR, Hayat              1
MUHAMMAD, Rashid          1
MANNA, Muhammad Afzal     1
LIDBERG, Jimmy            1
Name: count, Length: 22762, dtype: int64

In [33]:
athlete.value_counts(sort = True, ascending = False, normalize = True)

Athlete
PHELPS, Michael          0.000706
LATYNINA, Larisa         0.000578
ANDRIANOV, Nikolay       0.000481
ONO, Takashi             0.000417
MANGIAROTTI, Edoardo     0.000417
                           ...
ZAKA, Uddin              0.000032
ZAFAR, Hayat             0.000032
MUHAMMAD, Rashid         0.000032
MANNA, Muhammad Afzal    0.000032
LIDBERG, Jimmy           0.000032
Name: proportion, Length: 22762, dtype: float64