## **Creating Pandas Series 1**

In [1]:
import pandas as pd

### **creating from scratch with pd.Series()**

In [3]:
pd.Series([10, 25, 6, 36, 2])

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [4]:
pd.Series([10, 25, 6, 36, 2], index=['Mon', 'Tue', 'Wed', 'Thur', 'Fri'])

Mon     10
Tue     25
Wed      6
Thur    36
Fri      2
dtype: int64

In [5]:
pd.Series([10, 25, 6, 36, 2], index=['Mon', 'Tue', 'Wed', 'Thur', 'Fri'], name='Sales')

Mon     10
Tue     25
Wed      6
Thur    36
Fri      2
Name: Sales, dtype: int64

## **Creating Pandas Series 2**

In [6]:
import numpy as np

In [8]:
sales = np.array([10, 25, 6, 36, 2])
sales

array([10, 25,  6, 36,  2])

In [9]:
sales = [10, 25, 6, 36, 2]
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [10]:
dic = {"Mon":10, "Tue":25, "Wed":6, "Thu":36, "Fri":2}

In [11]:
sales = pd.Series(dic)

In [12]:
sales

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
dtype: int64

In [13]:
pd.Series(dic, index = ["Fri", "Sat", "Sun", "Mon", "Tue", "Wed"])

Fri     2.0
Sat     NaN
Sun     NaN
Mon    10.0
Tue    25.0
Wed     6.0
dtype: float64

In [14]:
pd.Series(dic, index = [1, 2, 3, 4, 5])

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

## **Indexing and Slicing**

In [16]:
titanic = pd.read_csv("./Course_Materials_Part1/Video_Lecture_NBs/titanic.csv")
age = titanic["age"]

In [17]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [18]:
age[0]

22.0

In [21]:
age.iloc[-1]

32.0

In [22]:
age.iloc[-2]

26.0

In [23]:
age[890]

32.0

In [24]:
age[:5]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [27]:
age.iloc[:6]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
Name: age, dtype: float64

In [26]:
age.loc[:5]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
Name: age, dtype: float64

In [34]:
summer = pd.read_csv("./Course_Materials_Part1/Video_Lecture_NBs/summer.csv", index_col = "Athlete")

In [35]:
event = summer.Event

In [36]:
event.head()

Athlete
HAJOS, Alfred                     100M Freestyle
HERSCHMANN, Otto                  100M Freestyle
DRIVAS, Dimitrios     100M Freestyle For Sailors
MALOKINIS, Ioannis    100M Freestyle For Sailors
CHASAPIS, Spiridon    100M Freestyle For Sailors
Name: Event, dtype: object

In [37]:
event.tail()

Athlete
JANIKOWSKI, Damian           Wg 84 KG
REZAEI, Ghasem Gholamreza    Wg 96 KG
TOTROV, Rustam               Wg 96 KG
ALEKSANYAN, Artur            Wg 96 KG
LIDBERG, Jimmy               Wg 96 KG
Name: Event, dtype: object

In [43]:
event.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [44]:
event[0]

C:\Users\nirma\AppData\Local\Temp\ipykernel_19604\2895929443.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  event[0]

'100M Freestyle'

In [45]:
event[-1]

C:\Users\nirma\AppData\Local\Temp\ipykernel_19604\1555793735.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  event[-1]

'Wg 96 KG'

In [46]:
event.iloc[-1]

'Wg 96 KG'

In [47]:
event["DRIVAS, Dimitrios"]

'100M Freestyle For Sailors'

In [48]:
event["PHELPS, Michael"]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [52]:
event.loc[["PHELPS, Michael", "LEWIS, Carl"]]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                     Long Jump
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                     Long Jump
Name: Event, dtype: object

## **Sorting and introduction to the inplace-parameter**

In [ ]:
dic